

<h1> Cat </h1>


<ul>

<% @cats.each do |cat| %>
    
    <li>
        <a href="<% cat_url(cat.id) %>"> 
        <% #we need to link to their show page%>
            <%= cat.name %>    
        </a>
    </li>

<%end%>
 
</ul>